
Catan Trainer/Traces/game.json
Catan Trainer/Traces/*
*.json
*.pyc
Catan Trainer/Managers/__pychache__/*
Catan Trainer/Interfaces/__pychache__/*
Catan Trainer/Classes/__pycache__/*
Catan Trainer/Bots/__pycache__/*
*.pyc
