h1,
h3 {
    display: inline-block
}

/*.col {*/
/*    padding: 0;*/
/*}*/

.content {
    padding: 0 1em 0 1em;
}


/*********************************/
/*              Game             */
/*********************************/


.gamefield {
    height: 70vh;
    background: #00aacc;
    padding-left: 1em;
    padding-right: 1em;
}

#controles {
    height: 7vh;
    background: white;
    border: 1px solid black;
/*    border-bottom: 3px solid black;*/
    border-bottom: 0;
}

#controles div {
    padding-top: 0.35em;
/*    padding-bottom: 0.5em;*/
}


/*********************************/
/*              Log              */
/*********************************/


.log {
/*    padding-right: 0;*/
/*    border: 1px solid black;*/
    padding: 0 1em 0 1em;
    border-left: 3px solid black;
}

#other_useful_info {
    border-top: black solid 1px;
}

#commerce_log,
#other_useful_info {
    background: white;
    font-family: monospace;
    overflow-y: scroll;
}

.span_title {
    font-family: sans-serif;
    text-decoration: underline;
}

.gives,
.receives {
    margin: 0;
    margin-left: 5em;
}

.counteroffer_gives,
.counteroffer_receives,
.counteroffer_answer {
    margin-left: 5em;
}


/*********************************/
/*         Player profiles       */
/*********************************/


.player {
    border: 1px black solid;
    border-top: 0;
    border-left: 0;
}

.playerprofile {
/*    height: 10vh;*/
}

.largest_army,
.longest_road {
    height: 5vh;
}

.hand {
    background: white;
}

.hand-top {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /*    border-top: 1px solid black;*/
    /*    border-bottom: 1px solid black;*/
}

.hand-bottom {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /*    border-bottom: 1px solid black;*/
    /*    border-top: 1px solid black;*/
}


/*********************************/
/*           Terreno             */
/*********************************/


.node {
    background: black;
    /*    width: 30px!important;*/
    height: 30px !important;
    /*    position: relative;*/
    /*    top: 0em;*/
    /*    left: 0em;*/
    color: white;
    flex: 0 0 30px !important;
    border-radius: 15px;
    z-index: 10;
}

.road {
    background: black;
    height: 10px;
    z-index: 10;
}

.vertical_road {
    background: black;
    height: 50px;
    width: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    z-index: 10;
    /*    flex: 0 0 30px !important;*/
}

.filler_node {
    background: #00aacc;
    height: 30px !important;
    flex: 0 0 30px !important;
    border-radius: 15px;
    z-index: 1;
}

.filler_road {
    background: #00aacc;
    height: 10px;
    z-index: 1;
}

.terrain_pieces {
    position: absolute;
    height: 70vh;
    width: 50%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    z-index: 2;
}

.terrain {
    background: greenyellow;
    height: 80px;
    width: 155px;
    position: absolute;
    z-index: 3;
    padding: 30px;
}
